body
{
    background-image: url("/Assets/background.png");
    background-size: 100%;
}

.menu_img
{
    float: left;
}

.websiteButton
{
    background-image:  url("/Assets/websiteButton.png");
    background-position: center;
    background-size: 100%;
    width: 250px;
    height: 75px;
    float: right;
}
